@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0d1627;
  color: white;
  font-family: "Poppins", sans-serif;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #020617;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

/* CARROSSEL */
.carousel {
  position: relative;
  width: 100%;
  height: 65vh;
  max-height: 600px;
  min-height: 280px;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  height: 100%;
  transition: transform 0.6s ease;
}

.slide {
  min-width: 100%;
  height: 100%;
  position: relative;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* evita distorção */
}

/* TEXTO SOBRE IMAGEM */
.overlay {
  position: absolute;
  bottom: 60px;
  left: 30px;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px 20px;
  border-radius: 8px;
}

.overlay h2 {
  font-size: 28px;
}

.overlay p {
  font-size: 16px;
}

/* BOTÕES */
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 28px;
  padding: 10px 17px;
  cursor: pointer;
  border-radius: 50%;
}

.prev {
  left: 15px;
}

.next {
  right: 15px;
}

/* BOLINHAS */
.dots {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
}

.dots span {
  height: 10px;
  width: 10px;
  margin: 5px;
  background: #ccc;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}

.dots .active {
  background: white;
}

/* CONTEÚDO */
.content {
  padding: 30px;
  text-align: center;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 15px;
  background: #020617;
}

/* 📱 RESPONSIVO (iPhone 14 Pro Max e outros) */
@media (max-width: 430px) {


  header {
    flex-direction: column;
  }

  .carousel {
    height: 45vh;
  }

  .overlay {
    bottom: 80px;
    left: 15px;
    padding: 10px;
  }

  .overlay h2 {
    font-size: 18px;
  }

  .overlay p {
    font-size: 12px;
  }

  .prev,
  .next {
    font-size: 20px;
    padding: 8px;
  }
}

.contato {
  padding: 40px 20px;
  background: #020617;
  text-align: center;
}

.contato h2 {
  margin-bottom: 30px;
  font-size: 28px;
}

.contato-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.form-contato {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
}

.form-contato input,
.form-contato textarea {
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
}

.form-contato textarea {
  height: 100px;
  resize: none;
}

.form-contato button {
  background: #22c55e;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

/* info lado direito */
.info-contato {
  text-align: left;
  max-width: 250px;
}

.info-contato h3 {
  margin-bottom: 10px;
}

.whatsapp-btn {
  display: inline-block;
  margin-top: 15px;
  background: #25d366;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

/* 📱 RESPONSIVO */
@media (max-width: 430px) {
  .contato-container {
    flex-direction: column;
    align-items: center;
  }

  .info-contato {
    text-align: center;
  }
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25d366;
  color: white;
  font-size: 28px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  z-index: 999;
  transition: 0.3s;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}

.servicos {
  padding: 50px 20px;
  text-align: center;
  background: #0f172a;
}

.servicos h2 {
  font-size: 30px;
  margin-bottom: 40px;
}

.cards-servicos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  background: #020617;
  padding: 25px;
  border-radius: 12px;
  transition: 0.3s;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #ccc;
}

/* efeito hover */
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

/* 📱 RESPONSIVO */
@media (max-width: 900px) {
  .cards-servicos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 430px) {
  .cards-servicos {
    grid-template-columns: 1fr;
  }
}

html {
  scroll-behavior: smooth;
}

.footer {
  background: #020617;
  color: white;
  padding: 40px 20px 10px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.footer-col h3,
.footer-col h4 {
  margin-bottom: 15px;
}

.footer-col p,
.footer-col a {
  font-size: 14px;
  color: #ccc;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
}

.footer-col a:hover {
  color: white;
}

/* botão whatsapp */
.btn-whats {
  display: inline-block;
  background: #25d366;
  padding: 10px 15px;
  border-radius: 6px;
  color: white !important;
  margin-top: 10px;
}

/* linha final */
.footer-bottom {
  border-top: 1px solid #1e293b;
  margin-top: 20px;
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}

/* 📱 RESPONSIVO */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 430px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

}


.descricao-servicos {
  max-width: 700px;
  margin: 0 auto 30px;
  color: #ccc;
  font-size: 16px;
}

.galeria {
  padding: 50px 20px;
  background: #020617;
  text-align: center;
}

.galeria h2 {
  margin-bottom: 30px;
  font-size: 28px;
}

.grid-galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.grid-galeria img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

/* efeito hover */
.grid-galeria img:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

/* 📱 RESPONSIVO */
@media (max-width: 900px) {
  .grid-galeria {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 430px) {
  .grid-galeria {
    grid-template-columns: 1fr;
  }

  .grid-galeria img {
    height: 200px;
  }
}

.localizacao {
  background: linear-gradient(135deg, #0f172a, #020617);
  padding: 60px 20px;
  display: flex;
  justify-content: center;
}

.local-box {
  max-width: 700px;
  text-align: center;
  background: rgba(255, 255, 255, 0.05);
  padding: 40px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
}

.local-box h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #ffffff;
}

.local-box p {
  color: #ccc;
  margin-bottom: 25px;
  font-size: 16px;
}





/* RESPONSIVO */
@media (max-width: 430px) {
  .local-box h2 {
    font-size: 24px;
  }

  .local-box {
    padding: 25px;
  }
}

nav a:hover {
  opacity: 0.7;
  font-size: 17px;
}

/* base */
.animar {
  opacity: 0;
  transform: translateY(60px) scale(0.98);
  transition: all 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}

/* ativo */
.animar.ativo {
  opacity: 1;
  transform: translateY(0) scale(1);
}

/* delay automático */
.animar.delay-1 { transition-delay: 0.1s; }
.animar.delay-2 { transition-delay: 0.2s; }
.animar.delay-3 { transition-delay: 0.3s; }
.animar.delay-4 { transition-delay: 0.4s; }
.animar.delay-5 { transition-delay: 0.5s; }

.destaque-servico {
  text-align: center;
  padding: 50px 20px;
  background: linear-gradient(135deg, #11213a, #3a65a7);
  color: #fff;
  border-radius: 12px;
  margin: 30px auto;
  max-width: 1000px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

/* Título */
.destaque-servico h2 {
  font-size: 2.2rem;
  margin-bottom: 15px;
  font-weight: 700;
}

/* Texto */
.destaque-servico p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Botão WhatsApp */
.btn-destaque {
  display: inline-block;
  background: #25D366;
  color: #fff;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn-destaque:hover {
  background: #1ebe5d;
  transform: scale(1.05);
}

/* 📱 Responsivo */
@media (max-width: 768px) {
  .destaque-servico {
    padding: 35px 15px;
  }

  .destaque-servico h2 {
    font-size: 1.6rem;
  }

  .destaque-servico p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .destaque-servico h2 {
    font-size: 1.4rem;
  }

  .destaque-servico p {
    font-size: 0.95rem;
  }
}